form{
    margin-top: 20%;
}

.fa-solid{
    font-size: 70px;
    color: gray;
    margin-top: 10%;
}

body{
    background-color: 	#ADD8E6;
}

.form-label{
    color: white;
}

.btn{
    width: 25%;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

.borda{
    border: solid #9BB8F2;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 7px 5px 10px #9BB9F3;
}

#titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: teal;
    text-shadow: 0 2px 4px gray;
    cursor: default;
}

.form-label{
    color: black;
    font-size: 20px;
}